Repository joelp172/uptime-robot-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: manifests, generate, helm-lint, helm-template

manifests:
  name: manifests
  entry: make manifests
  language: system
  pass_filenames: false

generate:
  name: generate
  entry: make generate
  language: system
  pass_filenames: false

helm-lint:
  name: helm-lint
  entry: helm lint charts/uptime-robot-operator/
  language: system
  pass_filenames: false

helm-template:
  name: helm-template
  entry: bash -c 'helm template test charts/uptime-robot-operator/ > /dev/null'
  language: system
  pass_filenames: false

test: add region monitor e2e tests (#42)
  config/samples/uptime-robot_v1alpha1_monitor.yaml
  docs/monitors.md
  internal/uptimerobot/client_test.go
  test/e2e/README.md
  test/e2e/common_test.go
  test/e2e/monitor_test.go
Due: manifests, generate

feat(api): add integration of type slack
  Makefile
  api-spec/integrations-post.json
  api-spec/integrations-response.json
  api/v1alpha1/slackintegration_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/uptime-robot-operator/crds/uptimerobot.com_slackintegrations.yaml
  charts/uptime-robot-operator/templates/clusterrole.yaml
  cmd/main.go
  config/crd/bases/uptimerobot.com_slackintegrations.yaml
  config/crd/kustomization.yaml
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  config/rbac/slackintegration_admin_role.yaml
  config/rbac/slackintegration_editor_role.yaml
  config/rbac/slackintegration_viewer_role.yaml
  config/samples/kustomization.yaml
  config/samples/uptime-robot_v1alpha1_slackintegration.yaml
  docs/api-reference.md
  internal/controller/slackintegration_controller.go
  internal/controller/slackintegration_controller_test.go
  internal/uptimerobot/client.go
  internal/uptimerobot/integrations_client_test.go
  internal/uptimerobot/uptimerobottest/server.go
  internal/uptimerobot/v3types.go
  test/e2e/api_helpers.go
  test/e2e/integration_test.go
  test/e2e/slackintegration_test.go
Due: manifests, generate, helm-lint, helm-template

fix: stablize api and tests
  Makefile
  internal/controller/slackintegration_controller.go
  internal/controller/slackintegration_controller_test.go
  internal/uptimerobot/client.go
  internal/uptimerobot/uptimerobottest/server.go
  internal/uptimerobot/uptimerobottest/server_test.go
  test/e2e/api_helpers.go
Due: manifests, generate

feat(api): add integration of type slack (#43)
  Makefile
  api-spec/integrations-post.json
  api-spec/integrations-response.json
  api/v1alpha1/slackintegration_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/uptime-robot-operator/crds/uptimerobot.com_slackintegrations.yaml
  charts/uptime-robot-operator/templates/clusterrole.yaml
  cmd/main.go
  config/crd/bases/uptimerobot.com_slackintegrations.yaml
  config/crd/kustomization.yaml
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  config/rbac/slackintegration_admin_role.yaml
  config/rbac/slackintegration_editor_role.yaml
  config/rbac/slackintegration_viewer_role.yaml
  config/samples/kustomization.yaml
  config/samples/uptime-robot_v1alpha1_slackintegration.yaml
  docs/api-reference.md
  internal/controller/slackintegration_controller.go
  internal/controller/slackintegration_controller_test.go
  internal/uptimerobot/client.go
  internal/uptimerobot/integrations_client_test.go
  internal/uptimerobot/uptimerobottest/server.go
  internal/uptimerobot/uptimerobottest/server_test.go
  internal/uptimerobot/v3types.go
  test/e2e/api_helpers.go
  test/e2e/integration_test.go
  test/e2e/slackintegration_test.go
Due: manifests, generate, helm-lint, helm-template

Notes added by 'git notes add'
  ecaf76bef4534118020567c87dda125026d07f87
Due: none

test: add validating webhook and logic to account
  api/v1alpha1/account_webhook.go
  api/v1alpha1/account_webhook_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/certmanager/certificate.yaml
  config/certmanager/issuer.yaml
  config/certmanager/kustomization.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/default/webhookcainjection_patch.yaml
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
  config/webhook/service.yaml
Due: manifests, generate

feat: add cert-manager install to local test clusters
  Makefile
  docs/development.md
  hack/setup-dev-cluster.sh
  test/e2e/README.md
  test/e2e/account_contact_test.go
  test/e2e/e2e_test.go
  test/e2e/monitor_test.go
  test/e2e/slackintegration_test.go
Due: manifests, generate

fix: cert-manager issuer ref correction
  Makefile
  config/default/kustomization.yaml
  config/manager/kustomization.yaml
Due: none

test: add validating webhook and logic to contact
  api/v1alpha1/contact_webhook.go
  api/v1alpha1/contact_webhook_test.go
  cmd/main.go
  config/webhook/manifests.yaml
Due: manifests, generate

fix: strengthen validation
  api/v1alpha1/account_webhook.go
  api/v1alpha1/account_webhook_test.go
  api/v1alpha1/contact_types.go
  api/v1alpha1/contact_webhook.go
  api/v1alpha1/contact_webhook_test.go
  charts/uptime-robot-operator/crds/uptimerobot.com_contacts.yaml
  config/certmanager/certificate.yaml
  config/certmanager/issuer.yaml
  config/crd/bases/uptimerobot.com_contacts.yaml
  hack/setup-dev-cluster.sh
  test/e2e/account_contact_test.go
Due: manifests, generate, helm-lint, helm-template

docs: clarify cert manager requiremnts
  .cursor/rules/project.mdc
  Makefile
  api/v1alpha1/contact_types.go
  charts/uptime-robot-operator/crds/uptimerobot.com_contacts.yaml
  config/crd/bases/uptimerobot.com_contacts.yaml
Due: manifests, generate, helm-lint, helm-template

Update api/v1alpha1/account_webhook.go
  api/v1alpha1/account_webhook.go
Due: manifests, generate

fix: remove duplicate make cert-manager-install
  test/e2e/account_contact_test.go
  test/e2e/e2e_test.go
  test/e2e/monitor_test.go
  test/e2e/slackintegration_test.go
Due: manifests, generate

Update api/v1alpha1/contact_webhook.go
  api/v1alpha1/contact_webhook.go
Due: manifests, generate

fix: tidy kustomize
  Makefile
  config/default/manager_webhook_patch.yaml
Due: none

fix: second account creation test logc
  config/manager/kustomization.yaml
  test/e2e/account_contact_test.go
Due: manifests, generate

test: add validating webhook and logic to account (#44)
  .cursor/rules/project.mdc
  Makefile
  api/v1alpha1/account_webhook.go
  api/v1alpha1/account_webhook_test.go
  api/v1alpha1/contact_types.go
  api/v1alpha1/contact_webhook.go
  api/v1alpha1/contact_webhook_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/uptime-robot-operator/crds/uptimerobot.com_contacts.yaml
  cmd/main.go
  config/certmanager/certificate.yaml
  config/certmanager/issuer.yaml
  config/certmanager/kustomization.yaml
  config/crd/bases/uptimerobot.com_contacts.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/default/webhookcainjection_patch.yaml
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
  config/webhook/service.yaml
  docs/development.md
  hack/setup-dev-cluster.sh
  test/e2e/README.md
  test/e2e/account_contact_test.go
Due: manifests, generate, helm-lint, helm-template

feat(monitor): publish heartbeat url to secret or configmap
  api/v1alpha1/monitor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  config/rbac/role.yaml
  config/samples/uptime-robot_v1alpha1_monitor_heartbeat.yaml
  docs/api-reference.md
  docs/monitors.md
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
Due: manifests, generate, helm-lint, helm-template

test(monitor): add unit and e2e coverage for heartbeat url publishing
  internal/controller/monitor_controller_test.go
  test/e2e/common_test.go
  test/e2e/monitor_test.go
Due: manifests, generate

fix(monitor): always publish full heartbeat url with monitor id prefix
  config/manager/kustomization.yaml
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
  test/e2e/README.md
Due: manifests, generate

chore: configurable heartbeat base URL
  config/manager/kustomization.yaml
  docs/monitors.md
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
Due: manifests, generate

fix(monitor): add finalizer before publish to prevent leaked monitors
  .cursor/rules/api-validation-first.mdc
  .cursor/rules/new-field-checklist.mdc
  api/v1alpha1/monitor_types.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  charts/uptime-robot-operator/templates/clusterrole.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  config/samples/uptime-robot_v1alpha1_monitor_heartbeat.yaml
  docs/api-reference.md
  docs/monitors.md
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
  test/e2e/README.md
  test/e2e/monitor_test.go
Due: manifests, generate, helm-lint, helm-template

fix(monitor): add delete rbac and clean up old publish targets on change
  charts/uptime-robot-operator/templates/clusterrole.yaml
  config/rbac/role.yaml
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
Due: manifests, generate, helm-lint, helm-template

fix(monitor): avoid deleting publish target on key-only changes
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
Due: manifests, generate

feat(monitor): publish heartbeat url to secret or configmap (#45)
  .cursor/rules/api-validation-first.mdc
  .cursor/rules/new-field-checklist.mdc
  api/v1alpha1/monitor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  charts/uptime-robot-operator/templates/clusterrole.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  config/rbac/role.yaml
  config/samples/uptime-robot_v1alpha1_monitor_heartbeat.yaml
  docs/api-reference.md
  docs/monitors.md
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
  test/e2e/README.md
  test/e2e/common_test.go
  test/e2e/monitor_test.go
Due: manifests, generate, helm-lint, helm-template

Notes added by 'git notes add'
  7a86d322ed714a98e30dafe664c6099646a8a075
Due: none

docs(migration): add monitor adoption migration guide
  README.md
  docs/migration-guide.md
  docs/monitors.md
Due: none

docs: add namespace flags to all monitor kubectl commands
  docs/migration-guide.md
Due: none

docs(migration): add monitor adoption migration guide (#72)
  README.md
  docs/migration-guide.md
  docs/monitors.md
Due: none

docs(architecture): align all sections with actual controller behavior
  docs/architecture.md
Due: none

docs: add architecture diagrams and troubleshooting runbook (#73)
  README.md
  docs/architecture.md
  docs/troubleshooting.md
Due: none

feat(monitor): add last synced timestamp for successful reconciles
  api/v1alpha1/monitor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  config/manager/kustomization.yaml
  internal/controller/account_controller.go
  internal/controller/conditions.go
  internal/controller/conditions_test.go
  internal/controller/contact_controller.go
  internal/controller/monitor_controller.go
Due: manifests, generate, helm-lint, helm-template

fix(test): add status condition coverage across controller and e2e tests
  config/manager/kustomization.yaml
  internal/controller/account_controller_test.go
  internal/controller/contact_controller_test.go
  internal/controller/maintenancewindow_controller_test.go
  internal/controller/monitor_controller_test.go
  internal/controller/monitorgroup_controller_test.go
  internal/controller/slackintegration_controller_test.go
  internal/controller/status_conditions_helpers_test.go
  test/e2e/account_contact_test.go
  test/e2e/maintenancewindow_test.go
  test/e2e/monitor_test.go
  test/e2e/monitorgroup_test.go
  test/e2e/slackintegration_test.go
Due: manifests, generate

fix(monitor): keep ready true when edit retry fails to avoid recreate path
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
Due: manifests, generate

fix(monitorgroup): keep ready true on update api failure
  internal/controller/maintenancewindow_controller.go
  internal/controller/maintenancewindow_controller_test.go
  internal/controller/monitorgroup_controller.go
  internal/controller/monitorgroup_controller_test.go
Due: manifests, generate

fix(slackintegration): keep ready true on list integrations failure
  internal/controller/slackintegration_controller.go
  internal/controller/slackintegration_controller_test.go
Due: manifests, generate

fix(ci): load local image in kind for helm install test
  .github/workflows/helm.yml
Due: none

fix(ci): replace helm wait with kubectl rollout checks
  .github/workflows/helm.yml
Due: none

fix(ci): add rollout diagnostics and writable tmp for helm chart
  .github/workflows/helm.yml
  charts/uptime-robot-operator/templates/deployment.yaml
Due: helm-lint, helm-template

fix(helm): disable webhooks by default when certs are not provisioned
  .github/workflows/helm.yml
  charts/uptime-robot-operator/templates/deployment.yaml
  charts/uptime-robot-operator/values.yaml
  cmd/main.go
Due: manifests, generate, helm-lint, helm-template

Path conditions:
  manifests: any of: \.go$
  generate: any of: \.go$
  helm-lint: any of: ^charts/
  helm-template: any of: ^charts/
