Repository joelp172/uptime-robot-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: manifests, generate, helm-lint, helm-template

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: go-fumpt
        args: [-w]
      - id: go-vet-mod
      - id: golangci-lint-mod
        args: [--fix]

  - repo: local
    hooks:
      - id: manifests
        name: manifests
        entry: make manifests
        language: system
        types: [go]
        pass_filenames: false
      - id: generate
        name: generate
        entry: make generate
        language: system
        types: [go]
        pass_filenames: false
      - id: helm-lint
        name: helm-lint
        entry: helm lint charts/uptime-robot-operator/
        language: system
        files: ^charts/
        pass_filenames: false
      - id: helm-template
        name: helm-template
        entry: bash -c 'helm template test charts/uptime-robot-operator/ > /dev/null'
        language: system
        files: ^charts/
        pass_filenames: false

fix(controllers): address event recording review feedback
  internal/controller/account_controller.go
  internal/controller/account_controller_test.go
  internal/controller/contact_controller.go
  internal/controller/maintenancewindow_controller.go
  internal/controller/monitor_controller.go
  internal/controller/monitorgroup_controller.go
  internal/controller/slackintegration_controller.go
Due: manifests, generate

docs(e2e): add verbose local test workflow and make target
  Makefile
  test/e2e/README.md
Due: none

chore: clarify verbose mode vs filtered spec execution
  Makefile
  config/manager/kustomization.yaml
Due: none

docs(e2e): clarify local testing
  test/e2e/README.md
Due: none

feat(controller): add event recording to all controllers (#92)
  Makefile
  cmd/main.go
  config/manager/kustomization.yaml
  internal/controller/account_controller.go
  internal/controller/account_controller_test.go
  internal/controller/contact_controller.go
  internal/controller/contact_controller_test.go
  internal/controller/maintenancewindow_controller.go
  internal/controller/monitor_controller.go
  internal/controller/monitorgroup_controller.go
  internal/controller/slackintegration_controller.go
  test/e2e/README.md
Due: manifests, generate

Notes added by 'git notes add'
  9f52fa581675c38c4a21a6b3a1fe462a01b0f9fa
Due: none

chore(docs): add cert-manager prerequisite and helm install steps
  docs/installation.md
Due: none

ci: skip main ci workflow for docs-only changes
  .github/workflows/build.yml
Due: none

chore(docs): add cert-manager prerequisite and helm install steps (#95)
  .github/workflows/build.yml
  docs/installation.md
Due: none

fix(ingress): correct mgrClient setup and monitor.url annotation handling
  internal/controller/ingress_controller.go
  internal/controller/ingress_controller_test.go
Due: manifests, generate

fix(controller): stabilize ingress test teardown cleanup
  internal/controller/ingress_controller_test.go
Due: manifests, generate

fix(ingress): ensure ingress-created monitors are pruned on delete
  internal/controller/ingress_controller.go
  internal/controller/ingress_controller_test.go
Due: manifests, generate

fix(ingress): recreate source monitor when manually deleted
  internal/controller/ingress_controller.go
Due: manifests, generate

feat(ingress-controller): add e2e tests
  internal/controller/ingress_controller.go
  internal/controller/ingress_controller_watch_test.go
  test/e2e/ingress_test.go
Due: manifests, generate

fix(ingress): use stable source key for monitor lookup and cleanup
  config/manager/kustomization.yaml
  internal/controller/ingress_controller.go
Due: manifests, generate

test(ingress): implement Ingress controller test suite (#96)
  config/manager/kustomization.yaml
  internal/controller/ingress_controller.go
  internal/controller/ingress_controller_test.go
  internal/controller/ingress_controller_watch_test.go
  test/e2e/ingress_test.go
Due: manifests, generate

feat(helm): add ServiceMonitor and PodDisruptionBudget templates (#97)
  charts/uptime-robot-operator/README.md
  charts/uptime-robot-operator/templates/pdb.yaml
  charts/uptime-robot-operator/templates/servicemonitor.yaml
  charts/uptime-robot-operator/values.yaml
Due: helm-lint, helm-template

Notes added by 'git notes add'
  0851c35f7c40858666d7132f61b4ce38409ca665
Due: none

fix(metrics): expose and enable controller metrics endpoint port
  charts/uptime-robot-operator/templates/deployment.yaml
  charts/uptime-robot-operator/templates/metrics-service.yaml
  config/default/metrics_service.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  hack/setup-dev-cluster.sh
Due: helm-lint, helm-template

refactor(metrics): make metrics http-only and remove tls auth config
  charts/uptime-robot-operator/README.md
  charts/uptime-robot-operator/templates/metrics-auth-clusterrole.yaml
  charts/uptime-robot-operator/templates/metrics-auth-clusterrolebinding.yaml
  charts/uptime-robot-operator/templates/metrics-reader-clusterrole.yaml
  charts/uptime-robot-operator/templates/metrics-service.yaml
  charts/uptime-robot-operator/templates/servicemonitor.yaml
  charts/uptime-robot-operator/values.yaml
  cmd/main.go
  config/default/kustomization.yaml
  config/default/manager_metrics_patch.yaml
  config/default/metrics_service.yaml
  config/rbac/kustomization.yaml
  config/rbac/metrics_auth_role.yaml
  config/rbac/metrics_auth_role_binding.yaml
  config/rbac/metrics_reader_role.yaml
  go.mod
  go.sum
  hack/setup-dev-cluster.sh
Due: manifests, generate, helm-lint, helm-template

fix(metrics): align docs labels tests and monitor error instrumentation
  README.md
  docs/grafana-dashboard.json
  docs/metrics.md
  go.mod
  internal/controller/ingress_controller.go
  internal/controller/monitor_controller.go
  internal/controller/slackintegration_controller.go
  internal/metrics/helpers.go
  internal/metrics/helpers_test.go
  internal/metrics/metrics_test.go
Due: manifests, generate

feat(metrics): add custom Prometheus metrics for API and reconciliation observability (#98)
  README.md
  charts/uptime-robot-operator/README.md
  charts/uptime-robot-operator/templates/deployment.yaml
  charts/uptime-robot-operator/templates/metrics-auth-clusterrole.yaml
  charts/uptime-robot-operator/templates/metrics-auth-clusterrolebinding.yaml
  charts/uptime-robot-operator/templates/metrics-reader-clusterrole.yaml
  charts/uptime-robot-operator/templates/metrics-service.yaml
  charts/uptime-robot-operator/templates/servicemonitor.yaml
  charts/uptime-robot-operator/values.yaml
  cmd/main.go
  config/default/kustomization.yaml
  config/default/manager_metrics_patch.yaml
  config/default/metrics_service.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/rbac/kustomization.yaml
  config/rbac/metrics_auth_role.yaml
  config/rbac/metrics_auth_role_binding.yaml
  config/rbac/metrics_reader_role.yaml
  docs/grafana-dashboard.json
  docs/metrics.md
  go.mod
  go.sum
  hack/setup-dev-cluster.sh
  internal/controller/account_controller.go
  internal/controller/contact_controller.go
  internal/controller/ingress_controller.go
  internal/controller/maintenancewindow_controller.go
  internal/controller/monitor_controller.go
  internal/controller/monitorgroup_controller.go
  internal/controller/slackintegration_controller.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  internal/uptimerobot/retry.go
Due: manifests, generate, helm-lint, helm-template

Notes added by 'git notes add'
  564f58b92061da37c6423170f34f5749ac2e3633
Due: none

fix(urtypes): accept snake_case assertion operators during enum unmarshal
  internal/uptimerobot/urtypes/assertion_test.go
  internal/uptimerobot/urtypes/assertionoperator_enumer.go
Due: manifests, generate

fix(urtypes): marshal assertion operators as api snake_case
  internal/uptimerobot/urtypes/assertion_test.go
  internal/uptimerobot/urtypes/assertionoperator_enumer.go
Due: manifests, generate

fix(uptimerobot): adopt 409 duplicates by unique url and type
  internal/controller/monitor_controller.go
  internal/uptimerobot/client.go
  internal/uptimerobot/client_duplicate_test.go
Due: manifests, generate

fix(uptimerobot): send api assertions as api type with typed targets
  internal/uptimerobot/client.go
  internal/uptimerobot/client_api_assertions_test.go
Due: manifests, generate

test(uptimerobot): add api assertions and duplicate adoption coverage
  internal/uptimerobot/client_api_assertions_test.go
  internal/uptimerobot/client_create_monitor_duplicate_test.go
  internal/uptimerobot/urtypes/assertion_test.go
  test/e2e/monitor_test.go
Due: manifests, generate

fix(uptimerobot): preserve string targets for non-numeric assertions
  api/v1alpha1/monitor_types.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  config/samples/uptime-robot_v1alpha1_monitor_api_assertions.yaml
  internal/controller/monitor_controller.go
  internal/uptimerobot/client.go
  internal/uptimerobot/client_api_assertions_test.go
Due: manifests, generate, helm-lint, helm-template

fix(uptimerobot): match api assertion duplicates using effective monitor type
  config/manager/kustomization.yaml
  internal/uptimerobot/client.go
  internal/uptimerobot/client_duplicate_test.go
  internal/uptimerobot/urtypes/monitor.go
  internal/uptimerobot/urtypes/monitor_test.go
Due: manifests, generate

fix(api): validate api assertion values by operator in monitor crd
  api/v1alpha1/monitor_types.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  internal/uptimerobot/urtypes/assertion.go
Due: manifests, generate, helm-lint, helm-template

fix(crd): reduce cel cost for api assertion numeric validation
  api/v1alpha1/monitor_types.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  config/manager/kustomization.yaml
Due: manifests, generate, helm-lint, helm-template

test(e2e): update duplicate monitor scenario for adoption behavior
  config/manager/kustomization.yaml
  test/e2e/monitor_test.go
Due: manifests, generate

test(e2e): fix duplicate monitor yaml indentation in apply manifest
  test/e2e/monitor_test.go
Due: manifests, generate

fix(maintenancewindow): prevent duplicate create from stale cache reads
  cmd/main.go
  config/manager/kustomization.yaml
  internal/controller/ingress_controller_test.go
  internal/controller/maintenancewindow_controller.go
  internal/controller/maintenancewindow_controller_test.go
  internal/uptimerobot/client.go
  internal/uptimerobot/client_test.go
  test/e2e/README.md
  test/e2e/monitor_test.go
Due: manifests, generate

feat(monitor): add API Assertions for JSON response validation (#100)
  api-spec/monitor-post.json
  api/v1alpha1/monitor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  cmd/main.go
  config/crd/bases/uptimerobot.com_monitors.yaml
  config/samples/uptime-robot_v1alpha1_monitor_api_assertions.yaml
  internal/controller/ingress_controller_test.go
  internal/controller/maintenancewindow_controller.go
  internal/controller/maintenancewindow_controller_test.go
  internal/uptimerobot/client.go
  internal/uptimerobot/client_api_assertions_test.go
  internal/uptimerobot/client_create_monitor_duplicate_test.go
  internal/uptimerobot/client_duplicate_test.go
  internal/uptimerobot/client_test.go
  internal/uptimerobot/urtypes/assertion.go
  internal/uptimerobot/urtypes/assertion_test.go
  internal/uptimerobot/urtypes/assertionlogic_enumer.go
  internal/uptimerobot/urtypes/assertionoperator_enumer.go
  internal/uptimerobot/urtypes/monitor.go
  internal/uptimerobot/urtypes/monitor_test.go
  internal/uptimerobot/v3types.go
  test/e2e/README.md
  test/e2e/monitor_test.go
Due: manifests, generate, helm-lint, helm-template

Notes added by 'git notes add'
  3e7294939b26694f0ce2a38d50c7c5b1422e5e70
Due: none

test(e2e): reuse shared fixtures and add setup/cleanup fast-run toggles
  test/e2e/account_contact_test.go
  test/e2e/common_test.go
  test/e2e/e2e_test.go
  test/e2e/ingress_test.go
  test/e2e/maintenancewindow_test.go
  test/e2e/monitor_test.go
  test/e2e/slackintegration_test.go
Due: manifests, generate

fix(e2e): set contact account refs to prevent ready=false flake
  Makefile
  config/manager/kustomization.yaml
  test/e2e/account_contact_test.go
  test/e2e/common_test.go
  test/e2e/monitor_test.go
  test/e2e/monitorgroup_test.go
Due: manifests, generate

fix(e2e): avoid legacy contact collision and wait fixture readiness
  test/e2e/account_contact_test.go
  test/e2e/common_test.go
Due: manifests, generate
