Repository joelp172/uptime-robot-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: manifests, generate, helm-lint, helm-template

manifests:
  name: manifests
  entry: make manifests
  language: system
  pass_filenames: false

generate:
  name: generate
  entry: make generate
  language: system
  pass_filenames: false

helm-lint:
  name: helm-lint
  entry: helm lint charts/uptime-robot-operator/
  language: system
  pass_filenames: false

helm-template:
  name: helm-template
  entry: bash -c 'helm template test charts/uptime-robot-operator/ > /dev/null'
  language: system
  pass_filenames: false

fix(monitor): keep ready true when type-change delete fails
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
Due: manifests, generate

fix(monitorgroup): retain ready on prune failure to keep finalizer retries
  internal/controller/monitorgroup_controller.go
  internal/controller/monitorgroup_controller_test.go
Due: manifests, generate

fix(monitor): persist dependency failure status and observed generation
  internal/controller/contact_controller.go
  internal/controller/contact_controller_test.go
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
Due: manifests, generate

fix(test): set prune true in monitorgroup finalizer failure test
  internal/controller/monitorgroup_controller_test.go
Due: manifests, generate

fix(monitorgroup): avoid setting synced before backend sync attempt
  internal/controller/monitorgroup_controller.go
  internal/controller/monitorgroup_controller_test.go
Due: manifests, generate

fix(contact): mark synced unknown when validation is skipped
  internal/controller/conditions.go
  internal/controller/contact_controller.go
  internal/controller/contact_controller_test.go
Due: manifests, generate

fix(manager): fully disable webhook server when webhooks flag is false
  cmd/main.go
Due: manifests, generate

fix(maintenancewindow): preserve ready on transient credential errors
  internal/controller/maintenancewindow_controller.go
  internal/controller/maintenancewindow_controller_test.go
Due: manifests, generate

fix(monitorgroup): preserve ready on transient credential lookup errors
  internal/controller/monitorgroup_controller.go
  internal/controller/monitorgroup_controller_test.go
Due: manifests, generate

fix(slackintegration): preserve ready on transient credential lookup errors
  internal/controller/slackintegration_controller.go
  internal/controller/slackintegration_controller_test.go
Due: manifests, generate

fix(controller): set ready false on auth errors without recreate regressions
  cmd/main.go
  internal/controller/conditions.go
  internal/controller/contact_controller.go
  internal/controller/contact_controller_test.go
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
Due: manifests, generate

fix: eable certmanager webhook in e2e-test-real
  Makefile
  config/default/manager_webhook_patch.yaml
  test/e2e/e2e_suite_test.go
Due: manifests, generate

fix(e2e): remove namespace mismatch in once maintenancewindow checks
  test/e2e/account_contact_test.go
  test/e2e/common_test.go
  test/e2e/maintenancewindow_test.go
Due: manifests, generate

fix(slackintegration): add finalizer before external create or recreate
  internal/controller/slackintegration_controller.go
  internal/controller/slackintegration_controller_test.go
Due: manifests, generate

Notes added by 'git notes add'
  2e9ec274b2da83772acc5bb496f748bb6fb26b9f
Due: none

fix(helm): validate and render networkpolicy deny-all lists
  .github/workflows/helm.yml
  charts/uptime-robot-operator/templates/networkpolicy.yaml
Due: helm-lint, helm-template

feat(helm): add NetworkPolicy template (#76)
  .github/workflows/helm.yml
  charts/uptime-robot-operator/README.md
  charts/uptime-robot-operator/templates/networkpolicy.yaml
  charts/uptime-robot-operator/values.yaml
Due: helm-lint, helm-template

Notes added by 'git notes add'
  0cda69d83c3369ab94ed9593bebea07903a9ddb3
Due: none

fix(uptimerobot): prevent url-only 409 duplicate monitor adoption
  config/manager/kustomization.yaml
  internal/uptimerobot/client.go
  internal/uptimerobot/client_duplicate_test.go
  internal/uptimerobot/retry_test.go
Due: manifests, generate

fix(retry): handle response body read errors when building api status errors
  internal/uptimerobot/client.go
  internal/uptimerobot/retry.go
  internal/uptimerobot/retry_test.go
Due: manifests, generate

refactor(retry): use timers and strengthen retry test assertions
  internal/uptimerobot/retry.go
  internal/uptimerobot/retry_test.go
Due: manifests, generate

test(e2e): add duplicate monitor scenario and assert 409 apierror
  test/e2e/common_test.go
  test/e2e/monitor_test.go
Due: manifests, generate

revert: kustomize
  config/manager/kustomization.yaml
Due: none

fix(retry): wrap retry exhaustion with ErrMaxRetriesExceeded
  internal/uptimerobot/retry.go
  internal/uptimerobot/retry_test.go
Due: manifests, generate

fix: configurable retry settings on Client
  internal/uptimerobot/client.go
  internal/uptimerobot/retry.go
  internal/uptimerobot/retry_test.go
Due: manifests, generate

feat(client): add rate limit (429) handling with exponential backoff (#75)
  internal/uptimerobot/client.go
  internal/uptimerobot/client_duplicate_test.go
  internal/uptimerobot/retry.go
  internal/uptimerobot/retry_test.go
  test/e2e/common_test.go
  test/e2e/monitor_test.go
Due: manifests, generate

Notes added by 'git notes add'
  e29ab53764c484129e78e4443b905f4a1e3158a6
Due: none

fix(account): requeue account reconcile on secret changes
  internal/controller/account_controller.go
  internal/controller/account_getapikey_test.go
  test/e2e/account_contact_test.go
  test/e2e/common_test.go
  test/e2e/monitor_test.go
  test/e2e/monitorgroup_test.go
  test/e2e/slackintegration_test.go
Due: manifests, generate

test(account): add secret watch mapping coverage for account reconciles
  internal/controller/account_controller.go
  internal/controller/account_controller_test.go
  internal/controller/account_secret_watch_test.go
Due: manifests, generate

fix: re-queue account reconciliation (#78)
  internal/controller/account_controller.go
  internal/controller/account_controller_test.go
  internal/controller/account_getapikey_test.go
  internal/controller/account_secret_watch_test.go
  test/e2e/account_contact_test.go
  test/e2e/common_test.go
  test/e2e/monitor_test.go
  test/e2e/monitorgroup_test.go
  test/e2e/slackintegration_test.go
Due: manifests, generate

Notes added by 'git notes add'
  4a830afc1abf907e78fb26d9b20ef9e94d285afd
Due: none

fix(uptimerobot): use t.setenv in pause and start monitor tests
  internal/controller/monitor_controller.go
  internal/uptimerobot/client_pause_start_test.go
Due: manifests, generate

fix(controller): pause adopted monitors immediately after adoption
  config/manager/kustomization.yaml
  internal/controller/monitor_controller.go
Due: manifests, generate

feat(crd): show monitor paused or running in kubectl status column
  api/v1alpha1/monitor_types.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  internal/controller/monitor_controller.go
Due: manifests, generate, helm-lint, helm-template

Add Copilot agent instructions for repository onboarding (#80)
  .github/copilot-instructions.md
Due: none

fix(controller): avoid pausing missing monitor before recreate
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
  internal/uptimerobot/uptimerobottest/server.go
Due: manifests, generate

fix(monitor): preserve paused status on first reconcile
  api/v1alpha1/monitor_types.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
Due: manifests, generate, helm-lint, helm-template

test(e2e): assert monitor lifecycle using status.state for paused and running
  config/manager/kustomization.yaml
  internal/controller/monitor_controller_test.go
  test/e2e/monitor_test.go
Due: manifests, generate

fix(dev-cluster): correct namespace and deployment in next steps
  hack/setup-dev-cluster.sh
Due: none

Path conditions:
  manifests: any of: \.go$
  generate: any of: \.go$
  helm-lint: any of: ^charts/
  helm-template: any of: ^charts/
