Repository joelp172/uptime-robot-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: manifests, generate, helm-lint, helm-template

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: go-fumpt
        args: [-w]
      - id: go-vet-mod
      - id: golangci-lint-mod
        args: [--fix]

  - repo: local
    hooks:
      - id: manifests
        name: manifests
        entry: make manifests
        language: system
        types: [go]
        pass_filenames: false
      - id: generate
        name: generate
        entry: make generate
        language: system
        types: [go]
        pass_filenames: false
      - id: helm-lint
        name: helm-lint
        entry: helm lint charts/uptime-robot-operator/
        language: system
        files: ^charts/
        pass_filenames: false
      - id: helm-template
        name: helm-template
        entry: bash -c 'helm template test charts/uptime-robot-operator/ > /dev/null'
        language: system
        files: ^charts/
        pass_filenames: false

fix(tests): reset mock api state between specs to prevent 404 leaks
  internal/controller/monitor_controller_test.go
  internal/controller/suite_test.go
Due: manifests, generate

feat(client): implement monitor pause/start API endpoints (#79)
  api/v1alpha1/monitor_types.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  hack/setup-dev-cluster.sh
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
  internal/controller/suite_test.go
  internal/uptimerobot/client.go
  internal/uptimerobot/client_pause_start_test.go
  internal/uptimerobot/uptimerobottest/server.go
  test/e2e/monitor_test.go
Due: manifests, generate, helm-lint, helm-template

Notes added by 'git notes add'
  450008991dac57de8356f5dcc8c6507dcb7230ad
Due: none

fix(e2e): assert stable webhook metrics in e2e check
  test/e2e/e2e_test.go
Due: manifests, generate

ci: add code coverage reporting and automated E2E tests on PRs (#82)
  .github/workflows/build.yml
  .github/workflows/e2e-pr.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  codecov.yml
  docs/development.md
  test/e2e/e2e_test.go
Due: manifests, generate

fix(controller): honor cleanup requeue backoff and retry conflicts
  internal/controller/finalizer.go
  internal/controller/maintenancewindow_controller.go
  internal/controller/monitor_controller.go
  internal/controller/monitorgroup_controller.go
  internal/controller/monitorgroup_controller_test.go
  internal/controller/slackintegration_controller.go
Due: manifests, generate

fix(test): align monitorgroup expectations with finalizer retry behavior
  internal/controller/monitorgroup_controller_test.go
Due: manifests, generate

fix(controller): unblock monitorgroup finalization and treat 404 deletes as success
  internal/controller/monitorgroup_controller.go
  internal/uptimerobot/client.go
  internal/uptimerobot/delete_notfound_test.go
Due: manifests, generate

fix(controller): prune monitorgroup on delete when status id exists
  internal/controller/monitorgroup_controller.go
Due: manifests, generate

Update docs/installation.md
  docs/installation.md
Due: none

fix(controller): add finalizer cleanup retry and timeout logic (#81)
  cmd/main.go
  internal/controller/conditions.go
  internal/controller/finalizer.go
  internal/controller/finalizer_test.go
  internal/controller/maintenancewindow_controller.go
  internal/controller/monitor_controller.go
  internal/controller/monitorgroup_controller.go
  internal/controller/monitorgroup_controller_test.go
  internal/controller/slackintegration_controller.go
  internal/uptimerobot/client.go
  internal/uptimerobot/delete_notfound_test.go
Due: manifests, generate

Notes added by 'git notes add'
  b1ec8590c531a859203b776a21835e799aa118da
Due: none

docs(security): align SECURITY, README, installation docs with technical documentation guidelines
  README.md
  SECURITY.md
  docs/installation.md
Due: none

docs: update SECURITY.md
  SECURITY.md
Due: none

feat(security): add container scanning, SBOM generation, and image signing (#83)
  .github/workflows/build.yml
  .github/workflows/release.yml
  README.md
  SECURITY.md
  docs/installation.md
Due: none

Notes added by 'git notes add'
  db6270d60476d2eed3e22293373ec33d3e4cbdf7
Due: none

fix(security): upgrade go and oauth2 to clear trivy high critical
  .github/workflows/e2e-pr.yml
  .gitignore
  Dockerfile
  go.mod
  go.sum
Due: none

test(e2e): verify monitor group rename by id and harden run id
  test/e2e/common_test.go
  test/e2e/monitorgroup_test.go
Due: manifests, generate

fix(security): upgrade go and oauth2 to clear trivy high critical (#84)
  .github/workflows/e2e-pr.yml
  .gitignore
  Dockerfile
  go.mod
  go.sum
  test/e2e/common_test.go
  test/e2e/monitorgroup_test.go
Due: manifests, generate

Notes added by 'git notes add'
  3402a7784db52e6dd27f10d487df8d885059de47
Due: none

fix(ci): gate image push on trivy scan in build and release workflows
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

fix(ci): use repository_owner ghcr namespace to avoid write_package denial
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

fix(ci): gate image push on trivy scan in build and release workflows (#86)
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

fix(ci): sign and attest container image by digest in workflows
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

fix(ci): sign and attest container image by digest in workflows (#88)
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  da17afe16c050bacd0ffa94d5d51b01719aaee6b
Due: none

fix(ci): publish release only after sbom artifacts are prepared
  .github/workflows/release.yml
  .releaserc.yaml
Due: none

chore(ci): skip pr e2e when only docs or workflow files change
  .github/workflows/e2e-pr.yml
Due: none

chore(ci): ignore semantic-release config changes in pr e2e trigger
  .github/workflows/e2e-pr.yml
Due: none

Apply suggestions from code review
  .github/workflows/release.yml
Due: none

fix(ci): publish release only after sbom artifacts are prepared (#89)
  .github/workflows/e2e-pr.yml
  .github/workflows/release.yml
  .releaserc.yaml
Due: none

fix(ci): align sbom artifact download path with prepare step
  .github/workflows/release.yml
Due: none

fix(ci): align sbom artifact download path with prepare step (#91)
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  91ab9e35859c534b8f1ca95019299b083dbb8c22
Due: none

fix(ci): push helm chart to repo-scoped ghcr namespace
  .github/workflows/release.yml
  SECURITY.md
Due: none

fix(ci): push helm chart to repo-scoped ghcr namespace (#93)
  .github/workflows/release.yml
  SECURITY.md
Due: none

Notes added by 'git notes add'
  9af647f6dd8472de51c1ae8b13cf25189b9dcb3c
Due: none

fix(ci): set explicit github token permissions in workflows
  .github/workflows/build.yml
  .github/workflows/gitleaks.yaml
  .github/workflows/helm.yml
Due: none
