Repository joelp172/uptime-robot-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: manifests, generate, helm-lint, helm-template

manifests:
  name: manifests
  entry: make manifests
  language: system
  pass_filenames: false

generate:
  name: generate
  entry: make generate
  language: system
  pass_filenames: false

helm-lint:
  name: helm-lint
  entry: helm lint charts/uptime-robot-operator/
  language: system
  pass_filenames: false

helm-template:
  name: helm-template
  entry: bash -c 'helm template test charts/uptime-robot-operator/ > /dev/null'
  language: system
  pass_filenames: false

fix(maintenancewindow): validate date field handling against real uptimerobot api
  internal/controller/maintenancewindow_controller.go
  internal/uptimerobot/v3types.go
Due: manifests, generate

docs(rules): add api validation first rule for uptimerobot api changes
  .cursor/rules/api-validation-first.mdc
Due: none

fix(maintenancewindow): validate date field handling against real uptimerobot api (#34)
  .cursor/rules/api-validation-first.mdc
  internal/controller/maintenancewindow_controller.go
  internal/uptimerobot/v3types.go
Due: manifests, generate

Notes added by 'git notes add'
  546c569e6d51ae51672c59c3933c7804f509d300
Due: none

fix(e2e): MaintenanceWindow validation & test improvements
  .cursor/rules/testing.mdc
  api-spec/maintenance-windows-response.json
  api/v1alpha1/maintenancewindow_types.go
  charts/uptime-robot-operator/crds/uptimerobot.com_maintenancewindows.yaml
  config/crd/bases/uptimerobot.com_maintenancewindows.yaml
  config/crd/kustomization.yaml
  config/manager/kustomization.yaml
  internal/controller/maintenancewindow_controller.go
  test/e2e/README.md
  test/e2e/api_helpers.go
  test/e2e/crd_reconciliation_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/e2e/maintenancewindow_test.go
Due: manifests, generate, helm-lint, helm-template

test: restructure e2e tests with comprehensive API validation
  internal/uptimerobot/v3types.go
  test/e2e/account_contact_test.go
  test/e2e/api_helpers.go
  test/e2e/common_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/e2e/maintenancewindow_test.go
  test/e2e/monitor_test.go
Due: manifests, generate

docs: add test restructure plan
  test/e2e_test_review_&_restructure_4edbed3e.plan.md
Due: none

fix(e2e): correct label filter for real api tests
  .cursor/rules/testing.mdc
  .github/workflows/e2e.yml
  CONTRIBUTING.md
  Makefile
  config/manager/kustomization.yaml
  hack/setup-dev-cluster.sh
Due: none

fix(e2e): prevent api key exposure in kubectl commands
  config/manager/kustomization.yaml
  test/e2e/account_contact_test.go
  test/e2e/api_helpers.go
  test/e2e/common_test.go
  test/e2e/maintenancewindow_test.go
  test/e2e/monitor_test.go
Due: manifests, generate

fix(e2e): remove unused monitor id conversions
  api-spec/maintenance-windows-get-by-id.json
  test/e2e/maintenancewindow_test.go
Due: manifests, generate

fix: Removed StartDate: 2026-02-10 from 12 test cases
  internal/controller/maintenancewindow_controller_test.go
Due: manifests, generate

fix: logic of make test-e2e
  .cursor/rules/testing.mdc
  Makefile
  internal/controller/maintenancewindow_controller_test.go
  test/e2e/common_test.go
  test/e2e/maintenancewindow_test.go
Due: manifests, generate

test: add comprehensive test coverage for MaintenanceWindow CRD (#36)
  .cursor/rules/testing.mdc
  .github/workflows/e2e.yml
  CONTRIBUTING.md
  Makefile
  api-spec/maintenance-windows-get-by-id.json
  api-spec/maintenance-windows-response.json
  api/v1alpha1/maintenancewindow_types.go
  charts/uptime-robot-operator/crds/uptimerobot.com_maintenancewindows.yaml
  config/crd/bases/uptimerobot.com_maintenancewindows.yaml
  config/crd/kustomization.yaml
  config/manager/kustomization.yaml
  hack/setup-dev-cluster.sh
  internal/controller/maintenancewindow_controller.go
  internal/controller/maintenancewindow_controller_test.go
  internal/uptimerobot/v3types.go
  test/e2e/README.md
  test/e2e/account_contact_test.go
  test/e2e/api_helpers.go
  test/e2e/common_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/maintenancewindow_test.go
  test/e2e/monitor_test.go
  test/e2e_test_review_&_restructure_4edbed3e.plan.md
Due: manifests, generate, helm-lint, helm-template

test: implement remaining e2e test gaps for autoaddmonitors dns and prune validation
  test/e2e/api_helpers.go
  test/e2e/common_test.go
  test/e2e/maintenancewindow_test.go
  test/e2e/monitor_test.go
Due: manifests, generate

test: add mw test gaps
  api/v1alpha1/maintenancewindow_types.go
  api/v1alpha1/monitor_types.go
  charts/uptime-robot-operator/crds/uptimerobot.com_maintenancewindows.yaml
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  config/crd/bases/uptimerobot.com_maintenancewindows.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  test/e2e/maintenancewindow_test.go
Due: manifests, generate, helm-lint, helm-template

test: implement remaining e2e test gaps for autoaddmonitors dns and prune validation (#38)
  api/v1alpha1/maintenancewindow_types.go
  api/v1alpha1/monitor_types.go
  charts/uptime-robot-operator/crds/uptimerobot.com_maintenancewindows.yaml
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  config/crd/bases/uptimerobot.com_maintenancewindows.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  test/e2e/api_helpers.go
  test/e2e/common_test.go
  test/e2e/maintenancewindow_test.go
  test/e2e/monitor_test.go
Due: manifests, generate, helm-lint, helm-template

fix(controller): prevent update from overriding autoaddmonitors with empty monitorids
  api/v1alpha1/maintenancewindow_types.go
  internal/controller/maintenancewindow_controller.go
  test/e2e/api_helpers.go
  test/e2e/maintenancewindow_test.go
Due: manifests, generate

revert: focused test
  test/e2e/maintenancewindow_test.go
Due: manifests, generate

docs: restructure documentation for clarity and conciseness
  CONTRIBUTING.md
  README.md
  charts/uptime-robot-operator/README.md
  docs/api-reference.md
  docs/configure-alerts.md
  docs/development.md
  docs/getting-started.md
  docs/installation.md
  docs/maintenance-windows.md
  docs/monitors.md
  test/e2e/README.md
Due: helm-lint, helm-template

fix: breaking API changes and test inconsistencies from PR #38 (#39)
  CONTRIBUTING.md
  README.md
  api/v1alpha1/maintenancewindow_types.go
  charts/uptime-robot-operator/README.md
  docs/api-reference.md
  docs/configure-alerts.md
  docs/development.md
  docs/getting-started.md
  docs/installation.md
  docs/maintenance-windows.md
  docs/monitors.md
  internal/controller/maintenancewindow_controller.go
  test/e2e/README.md
  test/e2e/api_helpers.go
  test/e2e/maintenancewindow_test.go
Due: manifests, generate, helm-lint, helm-template

Notes added by 'git notes add'
  10cd3168cf732089c6d3ebc814925ac5a90ed68a
Due: none

fix(e2e): include monitorgroup in test-e2e-real label filter
  Makefile
  config/manager/kustomization.yaml
  test/comprehensive_e2e_testing_plan.md
  test/e2e_test_review_&_restructure_4edbed3e.plan.md
Due: none

fix: add monitorgroup to kustomize
  config/crd/kustomization.yaml
  config/manager/kustomization.yaml
Due: none

test(e2e): verify monitorgroup update renames not recreates
  internal/controller/monitorgroup_controller.go
  test/e2e/README.md
  test/e2e/monitorgroup_test.go
Due: manifests, generate

Update internal/uptimerobot/v3types.go
  internal/uptimerobot/v3types.go
Due: manifests, generate

fix(api): remove omitempty from prune field to preserve false values
  api/v1alpha1/monitorgroup_types.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitorgroups.yaml
  config/crd/bases/uptimerobot.com_monitorgroups.yaml
Due: manifests, generate, helm-lint, helm-template

feat: add MonitorGroup CRD for declarative group lifecycle management (#37)
  Makefile
  api/v1alpha1/monitorgroup_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitorgroups.yaml
  cmd/main.go
  config/crd/bases/uptimerobot.com_monitorgroups.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  config/samples/kustomization.yaml
  config/samples/uptime-robot_v1alpha1_monitorgroup.yaml
  internal/controller/monitorgroup_controller.go
  internal/controller/monitorgroup_controller_test.go
  internal/uptimerobot/client.go
  internal/uptimerobot/uptimerobottest/responses/monitor_group.json
  internal/uptimerobot/uptimerobottest/responses/monitor_group_create.json
  internal/uptimerobot/uptimerobottest/responses/monitor_group_update.json
  internal/uptimerobot/uptimerobottest/responses/monitor_groups.json
  internal/uptimerobot/uptimerobottest/server.go
  internal/uptimerobot/v3types.go
  test/comprehensive_e2e_testing_plan.md
  test/e2e/README.md
  test/e2e/monitorgroup_test.go
  test/e2e_test_review_&_restructure_4edbed3e.plan.md
Due: manifests, generate, helm-lint, helm-template

Notes added by 'git notes add'
  b97862768589a9dc83017ecfecb498544a3e1772
Due: none

fix(controller): prevent deletion of adopted monitors
  internal/controller/monitor_controller.go
  test/e2e/monitor_test.go
Due: manifests, generate

test: add additional coverage
  internal/controller/monitor_controller_test.go
Due: manifests, generate

fix(controller): apply spec immediately after monitor adoption
  internal/controller/monitor_controller.go
Due: manifests, generate

fix(controller): improve monitor adoption and deletion protection
  test/e2e/monitor_test.go
Due: manifests, generate

fix(controller): improve monitor adoption deletion protection
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
Due: manifests, generate

test(controller): properly verify monitor deletion protection
  internal/controller/monitor_controller_test.go
  internal/controller/suite_test.go
  internal/uptimerobot/uptimerobottest/server.go
Due: manifests, generate

fix(controller): improve monitor adoption deletion protection and test cleanup
  test/e2e/api_helpers.go
  test/e2e/common_test.go
  test/e2e/monitorgroup_test.go
Due: manifests, generate

fix(controller): remove unnecessary refetch in monitorgroup deletion
  internal/controller/monitorgroup_controller.go
Due: manifests, generate

feat: allow adoption of existing monitors via annotation (#40)
  README.md
  config/samples/uptime-robot_v1alpha1_monitor_adoption.yaml
  docs/monitors.md
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
  internal/controller/monitorgroup_controller.go
  internal/controller/suite_test.go
  internal/uptimerobot/uptimerobottest/server.go
  test/e2e/api_helpers.go
  test/e2e/common_test.go
  test/e2e/monitor_test.go
  test/e2e/monitorgroup_test.go
Due: manifests, generate

Notes added by 'git notes add'
  bfd527de33ea585e0a17d8dec1ddf8385c2885ce
Due: none

docs: add namespace to Account, Contact, and Monitor sections
  README.md
Due: none

test: add region monitor e2e tests
  config/samples/uptime-robot_v1alpha1_monitor.yaml
  docs/monitors.md
  internal/uptimerobot/client_test.go
  test/e2e/README.md
  test/e2e/common_test.go
  test/e2e/monitor_test.go
Due: manifests, generate

Path conditions:
  manifests: any of: \.go$
  generate: any of: \.go$
  helm-lint: any of: ^charts/
  helm-template: any of: ^charts/
