Repository joelp172/uptime-robot-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: manifests, generate, helm-lint, helm-template

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: go-fumpt
        args: [-w]
      - id: go-vet-mod
      - id: golangci-lint-mod
        args: [--fix]

  - repo: local
    hooks:
      - id: manifests
        name: manifests
        entry: make manifests
        language: system
        types: [go]
        pass_filenames: false
      - id: generate
        name: generate
        entry: make generate
        language: system
        types: [go]
        pass_filenames: false
      - id: helm-lint
        name: helm-lint
        entry: helm lint charts/uptime-robot-operator/
        language: system
        files: ^charts/
        pass_filenames: false
      - id: helm-template
        name: helm-template
        entry: bash -c 'helm template test charts/uptime-robot-operator/ > /dev/null'
        language: system
        files: ^charts/
        pass_filenames: false

fix: remove codeql workflow
  .github/workflows/codeql.yml
Due: none

fix: close resp.Body in rate limiter tests to prevent resource leaks
  internal/uptimerobot/ratelimit_test.go
Due: manifests, generate

feat: add client-side rate limiter to UptimeRobot API client (#152)
  .github/workflows/codeql.yml
  docs/architecture.md
  go.mod
  internal/uptimerobot/client.go
  internal/uptimerobot/helpers_test.go
  internal/uptimerobot/ratelimit_test.go
  internal/uptimerobot/retry.go
  test/e2e/e2e_test.go
Due: manifests, generate

Notes added by 'git notes add'
  66f622ae0693193d83cb114e780fb06f00421085
Due: none

fix(circuit-breaker): harden circuit breaker reliability and controller integration
  internal/controller/circuit_breaker.go
  internal/controller/circuit_breaker_test.go
  internal/controller/maintenancewindow_controller.go
  internal/controller/monitor_controller.go
  internal/controller/monitorgroup_controller.go
  internal/controller/slackintegration_controller.go
Due: manifests, generate

fix(circuit-breaker): add recovery events, handle non-transient errors in HalfOpen
  internal/controller/circuit_breaker.go
  internal/controller/circuit_breaker_test.go
  internal/controller/maintenancewindow_controller.go
  internal/controller/monitor_controller.go
  internal/controller/monitorgroup_controller.go
  internal/controller/slackintegration_controller.go
Due: manifests, generate

fix(circuit-breaker): use cluster-scoped account key, init metrics, prevent probe slot leak
  internal/controller/circuit_breaker.go
  internal/controller/maintenancewindow_controller.go
  internal/controller/monitor_controller.go
  internal/controller/monitorgroup_controller.go
  internal/controller/slackintegration_controller.go
Due: manifests, generate

Apply suggestions from code review
  charts/uptime-robot-operator/README.md
  docs/installation.md
Due: helm-lint, helm-template

docs: document broad RBAC permissions for Secrets and ConfigMaps (#153)
  SECURITY.md
  charts/uptime-robot-operator/README.md
  charts/uptime-robot-operator/templates/NOTES.txt
  docs/installation.md
Due: helm-lint, helm-template

feat(controller): add sync jitter and circuit breaker for API resilience (#149)
  cmd/main.go
  internal/controller/circuit_breaker.go
  internal/controller/circuit_breaker_test.go
  internal/controller/maintenancewindow_controller.go
  internal/controller/monitor_controller.go
  internal/controller/monitorgroup_controller.go
  internal/controller/reconcile_backoff.go
  internal/controller/slackintegration_controller.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: manifests, generate

ci: bump checkout to v6
  .github/workflows/build.yml
  .github/workflows/e2e-pr.yml
  .github/workflows/e2e.yml
  .github/workflows/gitleaks.yaml
  .github/workflows/helm.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  7d1b61e56774412cc25dbd73be414f8c05115e7b
Due: none

ci: bump checkout to v6 (#156)
  .github/workflows/build.yml
  .github/workflows/e2e-pr.yml
  .github/workflows/e2e.yml
  .github/workflows/gitleaks.yaml
  .github/workflows/helm.yml
  .github/workflows/release.yml
Due: none

fix(ci): add -test flag to govulncheck to resolve e2e compilation
  .github/workflows/build.yml
Due: none

Apply suggestion from @Copilot
  .github/workflows/build.yml
Due: none

fix: pin govulncheck version
  .github/workflows/build.yml
Due: none

fix(ci): resolve govulncheck compilation error in e2e package
  test/e2e/api_helpers_test.go
Due: manifests, generate

fix: add continue on error
  .github/workflows/build.yml
Due: none

ci: add govulncheck to CI pipeline (#155)
  .github/workflows/build.yml
  test/e2e/api_helpers_test.go
Due: manifests, generate

Harden HTTP client: log nil-guard fallback, add env var test coverage
  internal/uptimerobot/client.go
  internal/uptimerobot/retry.go
  internal/uptimerobot/retry_test.go
Due: manifests, generate

Use dedicated http.Client with timeout instead of http.DefaultClient (#154)
  internal/uptimerobot/client.go
  internal/uptimerobot/retry.go
  internal/uptimerobot/retry_test.go
Due: manifests, generate

refactor(test): improve test quality from PR review feedback
  internal/uptimerobot/retry_test.go
  internal/uptimerobot/uptimerobottest/server.go
Due: manifests, generate

fix(test): fail loudly when test fixture file is missing in serveJSONFile
  internal/uptimerobot/uptimerobottest/server.go
Due: manifests, generate

refactor(test): use RLock fast-path and release lock before I/O in checkGlobalOverride
  internal/uptimerobot/uptimerobottest/server.go
  internal/uptimerobot/uptimerobottest/server_test.go
Due: manifests, generate

fix(ci): make e2e deploy install cert-manager first
  .github/workflows/e2e-pr.yml
  .github/workflows/e2e.yml
Due: none

ci(workflows): upgrade actions for node24 compatibility
  .github/workflows/build.yml
  .github/workflows/e2e-pr.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
Due: none

fix(ci): make e2e deploy install cert-manager first
  .github/workflows/e2e.yml
Due: none

fix(ci): make e2e deploy install cert-manager first (#159)
  .github/workflows/e2e.yml
Due: none

fix(test): address PR review comments on override middleware and tests
  internal/uptimerobot/retry_test.go
  internal/uptimerobot/uptimerobottest/server.go
  internal/uptimerobot/uptimerobottest/server_test.go
Due: manifests, generate

Notes added by 'git notes add'
  b352f80595c1d3bb3a048491666648a3d6f1c1c8
Due: none

fix(ci): align e2e workflow go version with go.mod
  .github/workflows/e2e.yml
Due: none

fix(ci): align e2e workflow go version with go.mod (#160)
  .github/workflows/e2e.yml
Due: none

Notes added by 'git notes add'
  5de7928e3b2b06509c3982f6bdf58b10e00f1a82
Due: none

fix(e2e): use dynamic future date for once maintenancewindow
  test/e2e/maintenancewindow_test.go
Due: manifests, generate

ci(e2e): increase go test timeout to 45 minutes
  .github/workflows/e2e.yml
Due: none

fix(ci): increase e2e test timeout to 45 minutes
  .github/workflows/e2e.yml
Due: none

fix(ci): increase e2e test timeout to 45 minutes (#161)
  .github/workflows/e2e.yml
Due: none

Notes added by 'git notes add'
  96c7e9dcf76262a2df5b1c6194dd7d41868ca074
Due: none

fix(e2e): poll observedGeneration to reduce status flakes
  test/e2e/account_contact_test.go
  test/e2e/common_test.go
  test/e2e/maintenancewindow_test.go
  test/e2e/monitorgroup_test.go
  test/e2e/slackintegration_test.go
Due: manifests, generate

refactor(test): move status code into serveJSONFile to prevent silent fixture failures
  internal/uptimerobot/uptimerobottest/server.go
  internal/uptimerobot/uptimerobottest/server_test.go
Due: manifests, generate
