Repository joelp172/uptime-robot-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: manifests, generate, helm-lint, helm-template

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: go-fumpt
        args: [-w]
      - id: go-vet-mod
      - id: golangci-lint-mod
        args: [--fix]

  - repo: local
    hooks:
      - id: manifests
        name: manifests
        entry: make manifests
        language: system
        types: [go]
        pass_filenames: false
      - id: generate
        name: generate
        entry: make generate
        language: system
        types: [go]
        pass_filenames: false
      - id: helm-lint
        name: helm-lint
        entry: helm lint charts/uptime-robot-operator/
        language: system
        files: ^charts/
        pass_filenames: false
      - id: helm-template
        name: helm-template
        entry: bash -c 'helm template test charts/uptime-robot-operator/ > /dev/null'
        language: system
        files: ^charts/
        pass_filenames: false

fix: address PR feedback on dependency-not-ready path
  internal/controller/conditions.go
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
Due: manifests, generate

feat: surface Contact/Monitor reconcile failures in Argo CD health and Monitor status (#192)
  README.md
  internal/controller/conditions.go
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
Due: manifests, generate

Notes added by 'git notes add'
  3eae1dea85cf85717f7eaea14ceed97a390f23b1
Due: none

fix: refresh ObservedGeneration on blocked circuit-breaker conditions
  internal/controller/circuit_breaker_status.go
  internal/controller/maintenancewindow_controller.go
  internal/controller/maintenancewindow_controller_test.go
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
  internal/controller/monitorgroup_controller.go
  internal/controller/monitorgroup_controller_test.go
  internal/controller/slackintegration_controller.go
  internal/controller/slackintegration_controller_test.go
Due: manifests, generate

Surface circuit-breaker blocked states as degraded CRD health conditions (#195)
  internal/controller/circuit_breaker_status.go
  internal/controller/conditions.go
  internal/controller/maintenancewindow_controller.go
  internal/controller/maintenancewindow_controller_test.go
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
  internal/controller/monitorgroup_controller.go
  internal/controller/monitorgroup_controller_test.go
  internal/controller/slackintegration_controller.go
  internal/controller/slackintegration_controller_test.go
Due: manifests, generate

fix: add missing license header block
  internal/controller/circuit_breaker_status.go
Due: manifests, generate

fix: refresh ObservedGeneration on blocked circuit-breaker conditions (#196)
  internal/controller/circuit_breaker_status.go
  internal/controller/maintenancewindow_controller.go
  internal/controller/maintenancewindow_controller_test.go
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
  internal/controller/monitorgroup_controller.go
  internal/controller/monitorgroup_controller_test.go
  internal/controller/slackintegration_controller.go
  internal/controller/slackintegration_controller_test.go
Due: manifests, generate

Notes added by 'git notes add'
  a1ed78d73190220e51fbfadd98d167a6c6084d26
Due: none

fix(monitorgroup): adopt existing backend group to close non-conflict duplicate-create race
  internal/controller/monitorgroup_adopt_test.go
  internal/controller/monitorgroup_controller.go
  internal/controller/monitorgroup_controller_test.go
Due: manifests, generate

fix(monitorgroup): release circuit-breaker probe before status write and emit Adopted event after
  internal/controller/monitorgroup_controller.go
Due: manifests, generate

fix(monitorgroup): paginate group lookup, route recreate through adoption, harden adoption observability
  internal/controller/monitorgroup_adopt_test.go
  internal/controller/monitorgroup_controller.go
  internal/controller/monitorgroup_controller_test.go
  internal/uptimerobot/client.go
  internal/uptimerobot/client_groups_pagination_test.go
  internal/uptimerobot/uptimerobottest/server.go
Due: manifests, generate

fix(monitorgroup): release circuit-breaker probe after the last backend call, treat empty FriendlyName as terminal
  internal/controller/conditions.go
  internal/controller/monitorgroup_controller.go
  internal/uptimerobot/uptimerobottest/server.go
Due: manifests, generate

test(monitorgroup): cover the IsNotFound recreate-via-adoption branches
  internal/controller/monitorgroup_controller_test.go
  internal/uptimerobot/uptimerobottest/server.go
Due: manifests, generate

fix(monitorgroup): requeue immediately after adopt-on-404 and avoid premature Synced=true
  internal/controller/monitorgroup_controller.go
Due: manifests, generate

test, ci: ignore test-only fake-server in codecov patch and cover recreate-path collision warning
  codecov.yml
  internal/controller/monitorgroup_controller_test.go
Due: manifests, generate

fix(monitorgroup): move FriendlyName validation ahead of breaker, refresh conditions on adopt
  internal/controller/monitorgroup_controller.go
Due: manifests, generate

fix(monitorgroup): adopt existing backend group to close non-conflict duplicate-create race (#202)
  codecov.yml
  internal/controller/conditions.go
  internal/controller/monitorgroup_adopt_test.go
  internal/controller/monitorgroup_controller.go
  internal/controller/monitorgroup_controller_test.go
  internal/uptimerobot/client.go
  internal/uptimerobot/client_groups_pagination_test.go
  internal/uptimerobot/uptimerobottest/server.go
Due: manifests, generate

Notes added by 'git notes add'
  b264371670facc82c3249f7ce16281a3b571e37e
Due: none

fix(monitor): omit URL on PORT monitor updates
  internal/uptimerobot/client.go
  internal/uptimerobot/client_test.go
Due: manifests, generate

chore(ci): bump Go to 1.26.5 and fix timezone/cache-race test bugs
  .github/workflows/e2e-pr.yml
  .github/workflows/e2e.yml
  Makefile
  go.mod
  go.sum
  internal/controller/ingress_controller_test.go
  internal/uptimerobot/retry_test.go
Due: manifests, generate

chore(deps): bump ginkgo, gomega and enumer, and Go to 1.26.5
  .github/workflows/e2e-pr.yml
  .github/workflows/e2e.yml
  go.mod
  go.sum
Due: none

test(monitor): address review comments on the PORT update test
  internal/uptimerobot/client_test.go
Due: manifests, generate

chore(deps): bump ginkgo, gomega and enumer, and Go to 1.26.5 (#213)
  .github/workflows/e2e-pr.yml
  .github/workflows/e2e.yml
  go.mod
  go.sum
Due: none

fix(ci): check out the merge ref so /run-e2e works on fork PRs
  .github/workflows/e2e.yml
Due: none

fix(monitor): omit URL on PORT monitor updates (#210)
  .github/workflows/e2e.yml
  Makefile
  internal/controller/ingress_controller_test.go
  internal/uptimerobot/client.go
  internal/uptimerobot/client_test.go
  internal/uptimerobot/retry_test.go
Due: manifests, generate

Notes added by 'git notes add'
  4e17bc745c86d706af90cfbdbae96de189ca0fb4
Due: none

chore(deps): migrate to k8s 0.36.1 and controller-runtime 0.24.1
  .golangci.yml
  api/v1alpha1/account_webhook.go
  api/v1alpha1/contact_webhook.go
  api/v1alpha1/maintenancewindow_webhook.go
  api/v1alpha1/monitor_webhook.go
  api/v1alpha1/monitorgroup_webhook.go
  api/v1alpha1/slackintegration_webhook.go
  api/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  internal/controller/ingress_controller_test.go
  internal/controller/maintenancewindow_controller_test.go
Due: manifests, generate

test(controller): fix the ingress suite's single-shot reconcile flake
  internal/controller/ingress_controller_test.go
Due: manifests, generate

test(api): cover ValidateUpdate and ValidateDelete on all validators
  api/v1alpha1/account_webhook_test.go
  api/v1alpha1/contact_webhook_test.go
  api/v1alpha1/maintenancewindow_webhook_test.go
  api/v1alpha1/monitorgroup_webhook_test.go
  api/v1alpha1/slackintegration_webhook_test.go
Due: manifests, generate

fix(e2e): delete the default Contact so later suites can create theirs
  test/e2e/account_contact_test.go
Due: manifests, generate

chore(deps): migrate to k8s 0.36.1 and controller-runtime 0.24.1 (#214)
  .golangci.yml
  api/v1alpha1/account_webhook.go
  api/v1alpha1/account_webhook_test.go
  api/v1alpha1/contact_webhook.go
  api/v1alpha1/contact_webhook_test.go
  api/v1alpha1/maintenancewindow_webhook.go
  api/v1alpha1/maintenancewindow_webhook_test.go
  api/v1alpha1/monitor_webhook.go
  api/v1alpha1/monitorgroup_webhook.go
  api/v1alpha1/monitorgroup_webhook_test.go
  api/v1alpha1/slackintegration_webhook.go
  api/v1alpha1/slackintegration_webhook_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  internal/controller/ingress_controller_test.go
  internal/controller/maintenancewindow_controller_test.go
Due: manifests, generate

fix(e2e): delete the default Contact so later suites can create theirs (#215)
  test/e2e/account_contact_test.go
Due: manifests, generate

test(uptimerobot): pin responseTimeThreshold into monitor requests
  internal/uptimerobot/client_test.go
Due: manifests, generate

Notes added by 'git notes add'
  94042b577fa89411c7fcbca4b63887ce3aeaacca
Due: none

test(uptimerobot): pin responseTimeThreshold into monitor requests (#216)
  internal/uptimerobot/client_test.go
Due: manifests, generate

chore(deps): bump Go to 1.27.1, controller-runtime to 0.25.0, gomega and koanf
  .github/copilot-instructions.md
  .github/workflows/build.yml
  .github/workflows/e2e-pr.yml
  .github/workflows/e2e.yml
  .golangci.yml
  Dockerfile
  Makefile
  go.mod
  go.sum
  internal/controller/account_controller.go
  internal/controller/contact_controller.go
  internal/metrics/metrics.go
Due: manifests, generate

chore(deps): bump Go to 1.27.1, controller-runtime to 0.25.0, gomega and koanf (#229)
  .github/copilot-instructions.md
  .github/workflows/build.yml
  .github/workflows/e2e-pr.yml
  .github/workflows/e2e.yml
  .golangci.yml
  Dockerfile
  Makefile
  go.mod
  go.sum
  internal/controller/account_controller.go
  internal/controller/contact_controller.go
  internal/metrics/metrics.go
Due: manifests, generate

docs: add CLAUDE.md with comment and git workflow guidance
  CLAUDE.md
Due: none

docs: add CLAUDE.md with comment and git workflow guidance (#230)
  CLAUDE.md
Due: none

feat(helm): allow extra labels and annotations on the Namespace
  charts/uptime-robot-operator/README.md
  charts/uptime-robot-operator/templates/namespace.yaml
  charts/uptime-robot-operator/values.yaml
Due: helm-lint, helm-template
