Repository joelp172/uptime-robot-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: manifests, generate, helm-lint, helm-template

manifests:
  name: manifests
  entry: make manifests
  language: system
  pass_filenames: false

generate:
  name: generate
  entry: make generate
  language: system
  pass_filenames: false

helm-lint:
  name: helm-lint
  entry: helm lint charts/uptime-robot-operator/
  language: system
  pass_filenames: false

helm-template:
  name: helm-template
  entry: bash -c 'helm template test charts/uptime-robot-operator/ > /dev/null'
  language: system
  pass_filenames: false

ci: add helm lint and template to pre-commit hooks (#22)
  .pre-commit-config.yaml
  README.md
  charts/uptime-robot-operator/README.md
Due: helm-lint, helm-template

docs: update documentation for heartbeat monitor URL generation
  README.md
  api/v1alpha1/monitor_types.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  docs/api-reference.md
  docs/getting-started.md
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
  internal/uptimerobot/client.go
Due: manifests, generate, helm-lint, helm-template

feat: update monitors with full api features
  .releaserc.yaml
  api-spec/maintenance-windows-post.json
  api-spec/monitor-post.json
  api/v1alpha1/monitor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/uptimerobot.com_monitors.yaml
  config/manager/kustomization.yaml
  internal/uptimerobot/client.go
  internal/uptimerobot/urtypes/monitor.go
  internal/uptimerobot/v3types.go
  test/e2e/crd_reconciliation_test.go
  test/e2e/e2e_test.go
Due: manifests, generate

fix(uptimerobot): validate fallback monitor matches desired config
  api/v1alpha1/monitor_types.go
  config/manager/kustomization.yaml
  internal/uptimerobot/client.go
Due: manifests, generate

fix: manager kustomization tag
  config/manager/kustomization.yaml
Due: none

chore(samples): align DNS/heartbeat samples with CRDs
  README.md
  config/manager/kustomization.yaml
  config/samples/uptime-robot_v1alpha1_account.yaml
  config/samples/uptime-robot_v1alpha1_monitor_dns.yaml
  config/samples/uptime-robot_v1alpha1_monitor_heartbeat.yaml
  hack/setup-dev-cluster.sh
Due: none

docs(api): update DNS fields in API reference
  docs/api-reference.md
Due: none

docs(api): align monitor fields with current CRD
  config/samples/uptime-robot_v1alpha1_monitor.yaml
  docs/api-reference.md
Due: none

fix(api): omit url on DNS/Heartbeat monitor updates
  config/samples/uptime-robot_v1alpha1_monitor_dns.yaml
  docs/api-reference.md
  internal/uptimerobot/client.go
Due: manifests, generate

chore: update sample manifests
  config/samples/uptime-robot_v1alpha1_monitor.yaml
  config/samples/uptime-robot_v1alpha1_monitor_dns.yaml
  config/samples/uptime-robot_v1alpha1_monitor_heartbeat.yaml
  config/samples/uptime-robot_v1alpha1_monitor_keyword.yaml
Due: none

chore: add maintenance windows api spec
  api-spec/monitor-group-post.json
Due: none

feat: update monitors with full api features (#23)
  .releaserc.yaml
  README.md
  api-spec/maintenance-windows-post.json
  api-spec/monitor-group-post.json
  api-spec/monitor-post.json
  api/v1alpha1/monitor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  config/manager/kustomization.yaml
  config/samples/uptime-robot_v1alpha1_account.yaml
  config/samples/uptime-robot_v1alpha1_monitor.yaml
  config/samples/uptime-robot_v1alpha1_monitor_dns.yaml
  config/samples/uptime-robot_v1alpha1_monitor_heartbeat.yaml
  config/samples/uptime-robot_v1alpha1_monitor_keyword.yaml
  docs/api-reference.md
  docs/getting-started.md
  hack/setup-dev-cluster.sh
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
  internal/uptimerobot/client.go
  internal/uptimerobot/urtypes/monitor.go
  internal/uptimerobot/v3types.go
  test/e2e/crd_reconciliation_test.go
  test/e2e/e2e_test.go
Due: manifests, generate, helm-lint, helm-template

Notes added by 'git notes add'
  71e2ea458900b549aa367e5a536706cff7b05d9e
Due: none

fix: release crds
  .github/workflows/release.yml
Due: none

chore(crd): sync chart CRDs in make manifests
  .github/workflows/release.yml
  Makefile
  charts/uptime-robot-operator/crds/uptimerobot.com_accounts.yaml
  charts/uptime-robot-operator/crds/uptimerobot.com_contacts.yaml
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
Due: helm-lint, helm-template

fix: release crds (#27)
  .github/workflows/release.yml
  Makefile
  charts/uptime-robot-operator/crds/uptimerobot.com_accounts.yaml
  charts/uptime-robot-operator/crds/uptimerobot.com_contacts.yaml
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
Due: helm-lint, helm-template

fix: release crds
  charts/uptime-robot-operator/crds/uptimerobot.com_accounts.yaml
  charts/uptime-robot-operator/crds/uptimerobot.com_contacts.yaml
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
Due: helm-lint, helm-template

chore(crd): sync chart CRDs in make manifests
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

fix: release crds (#28)
  .github/workflows/build.yml
  .github/workflows/release.yml
  charts/uptime-robot-operator/crds/uptimerobot.com_accounts.yaml
  charts/uptime-robot-operator/crds/uptimerobot.com_contacts.yaml
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
Due: helm-lint, helm-template

Notes added by 'git notes add'
  79af04eaa0ade7313507982a2feef00714247341
Due: none

feat(monitor): add maintenance window ids support
  api/v1alpha1/monitor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  config/samples/uptime-robot_v1alpha1_monitor.yaml
  internal/uptimerobot/client.go
Due: manifests, generate, helm-lint, helm-template

docs: add maintenance window ids to api reference
  README.md
  docs/api-reference.md
  internal/uptimerobot/client_test.go
Due: manifests, generate

feat(monitor): add maintenance window ids support (#29)
  README.md
  api/v1alpha1/monitor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/uptime-robot-operator/crds/uptimerobot.com_monitors.yaml
  config/crd/bases/uptimerobot.com_monitors.yaml
  config/samples/uptime-robot_v1alpha1_monitor.yaml
  docs/api-reference.md
  internal/uptimerobot/client.go
  internal/uptimerobot/client_test.go
Due: manifests, generate, helm-lint, helm-template

Notes added by 'git notes add'
  5622050665a7e5e4b79902ef2e83573d00ae866e
Due: none

docs: add Comprehensive E2E Testing plan
  api-spec/monitor-response.json
  test/comprehensive_e2e_testing_plan.md
Due: none

docs: add Comprehensive E2E Testing plan (#30)
  api-spec/monitor-response.json
  test/comprehensive_e2e_testing_plan.md
Due: none

fix: API type mismatches for comprehensive e2e tests
  .cursor/rules/testing.mdc
  CONTRIBUTING.md
  Makefile
  config/manager/kustomization.yaml
  internal/controller/monitor_controller.go
  internal/uptimerobot/client.go
  internal/uptimerobot/v3types.go
  test/e2e/api_helpers.go
  test/e2e/crd_reconciliation_test.go
Due: manifests, generate

docs: add field change enforcement workflow and E2E CI checks
  .cursor/rules/new-field-checklist.mdc
  CONTRIBUTING.md
Due: none

chore: Replace placeholder configs with production defaults
  .cursor/rules/new-field-checklist.mdc
  .cursor/rules/testing.mdc
  CONTRIBUTING.md
  config/manager/kustomization.yaml
  internal/uptimerobot/client.go
  test/e2e/api_helpers.go
Due: manifests, generate

fix: API type mismatches for comprehensive e2e tests (#32)
  .cursor/rules/new-field-checklist.mdc
  .cursor/rules/testing.mdc
  CONTRIBUTING.md
  Makefile
  config/manager/kustomization.yaml
  internal/controller/monitor_controller.go
  internal/uptimerobot/client.go
  internal/uptimerobot/v3types.go
  test/e2e/api_helpers.go
  test/e2e/crd_reconciliation_test.go
Due: manifests, generate

Notes added by 'git notes add'
  36197b812f0ab4dab393e1cc93789fc1e73ff63b
Due: none

feat(crd): add MaintenanceWindow CRD and controller
  CONTRIBUTING.md
  charts/uptime-robot-operator/README.md
  config/rbac/kustomization.yaml
  config/rbac/maintenancewindow_admin_role.yaml
  config/rbac/maintenancewindow_editor_role.yaml
  config/rbac/maintenancewindow_viewer_role.yaml
  docs/api-reference.md
  docs/getting-started.md
Due: helm-lint, helm-template

fix(controller): remove redundant Duration field accessor
  internal/controller/maintenancewindow_controller.go
Due: manifests, generate

docs: clairfy local dev cluster creation
  CONTRIBUTING.md
  config/manager/kustomization.yaml
  hack/setup-dev-cluster.sh
Due: none

ci(build): skip verify-crds job for draft pull requests
  .github/workflows/build.yml
Due: none

docs: clairfy local dev cluster creation (#33)
  .github/workflows/build.yml
  CONTRIBUTING.md
  config/manager/kustomization.yaml
  hack/setup-dev-cluster.sh
Due: none

fix(maintenancewindow): address copilot review feedback on crd implementation
  api/v1alpha1/maintenancewindow_types.go
  charts/uptime-robot-operator/crds/uptimerobot.com_maintenancewindows.yaml
  config/crd/bases/uptimerobot.com_maintenancewindows.yaml
  internal/controller/maintenancewindow_controller.go
  internal/uptimerobot/client.go
  internal/uptimerobot/v3types.go
Due: manifests, generate, helm-lint, helm-template

feat: add MaintenanceWindow CRD for declarative maintenance scheduling (#31)
  CONTRIBUTING.md
  README.md
  api/v1alpha1/maintenancewindow_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/uptime-robot-operator/README.md
  charts/uptime-robot-operator/crds/uptimerobot.com_maintenancewindows.yaml
  cmd/main.go
  config/crd/bases/uptimerobot.com_maintenancewindows.yaml
  config/rbac/kustomization.yaml
  config/rbac/maintenancewindow_admin_role.yaml
  config/rbac/maintenancewindow_editor_role.yaml
  config/rbac/maintenancewindow_viewer_role.yaml
  config/rbac/role.yaml
  config/samples/uptime-robot_v1alpha1_maintenancewindow.yaml
  docs/api-reference.md
  docs/getting-started.md
  internal/controller/maintenancewindow_controller.go
  internal/controller/maintenancewindow_controller_test.go
  internal/uptimerobot/client.go
  internal/uptimerobot/uptimerobottest/responses/maintenance_window.json
  internal/uptimerobot/uptimerobottest/responses/maintenance_window_create.json
  internal/uptimerobot/uptimerobottest/responses/maintenance_window_update.json
  internal/uptimerobot/uptimerobottest/responses/maintenance_windows.json
  internal/uptimerobot/uptimerobottest/server.go
  internal/uptimerobot/v3types.go
Due: manifests, generate, helm-lint, helm-template

Notes added by 'git notes add'
  9c6709a3bba706ad9702fcdcd12839af8b87035a
Due: none

Path conditions:
  manifests: any of: \.go$
  generate: any of: \.go$
  helm-lint: any of: ^charts/
  helm-template: any of: ^charts/
