Repository joelp172/uptime-robot-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: manifests, generate, helm-lint, helm-template

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: go-fumpt
        args: [-w]
      - id: go-vet-mod
      - id: golangci-lint-mod
        args: [--fix]

  - repo: local
    hooks:
      - id: manifests
        name: manifests
        entry: make manifests
        language: system
        types: [go]
        pass_filenames: false
      - id: generate
        name: generate
        entry: make generate
        language: system
        types: [go]
        pass_filenames: false
      - id: helm-lint
        name: helm-lint
        entry: helm lint charts/uptime-robot-operator/
        language: system
        files: ^charts/
        pass_filenames: false
      - id: helm-template
        name: helm-template
        entry: bash -c 'helm template test charts/uptime-robot-operator/ > /dev/null'
        language: system
        files: ^charts/
        pass_filenames: false

test(e2e): reuse shared fixtures and add setup/cleanup fast-run toggles (#103)
  Makefile
  config/manager/kustomization.yaml
  test/e2e/account_contact_test.go
  test/e2e/common_test.go
  test/e2e/e2e_test.go
  test/e2e/ingress_test.go
  test/e2e/maintenancewindow_test.go
  test/e2e/monitor_test.go
  test/e2e/monitorgroup_test.go
  test/e2e/slackintegration_test.go
Due: manifests, generate

feat(controller): add exponential backoff for transient API errors (#99)
  internal/controller/account_controller.go
  internal/controller/contact_controller.go
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
  internal/controller/reconcile_backoff.go
  internal/controller/reconcile_backoff_test.go
Due: manifests, generate

feat(ci): update trivy to v0.69.3
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

test(controller): improve Account and Contact controller unit test coverage (#104)
  .github/workflows/build.yml
  .github/workflows/release.yml
  internal/controller/account_controller.go
  internal/controller/account_controller_test.go
  internal/controller/contact_controller.go
  internal/controller/contact_controller_test.go
  internal/controller/suite_test.go
  internal/uptimerobot/client.go
  internal/uptimerobot/uptimerobottest/responses/user_me.json
  internal/uptimerobot/uptimerobottest/server.go
Due: manifests, generate

Notes added by 'git notes add'
  8ae2e3e1616761b774b55000cb1e49e57fc814a3
Due: none

fix(ci): set explicit github token permissions in workflows (#94)
  .github/workflows/build.yml
  .github/workflows/gitleaks.yaml
  .github/workflows/helm.yml
Due: none

Notes added by 'git notes add'
  1b522e4dfa9c8043e4afe5febd17ffeafd9a074a
Due: none

fix(helm): use correct helm repo name
  .github/workflows/release.yml
Due: none

fix(helm): use correct helm repo name (#105)
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  f59681a967e5f2093ccd8bee4af1f3fc7bc8643c
Due: none

fix(webhook): enforce single default account fallback
  api/v1alpha1/webhook_common.go
  api/v1alpha1/webhook_common_test.go
Due: manifests, generate

test(e2e): add admission tests for all new webhooks
  api/v1alpha1/webhook_common_test.go
  internal/uptimerobot/client_api_assertions_test.go
  internal/uptimerobot/retry_test.go
  test/e2e/webhook_accountref_test.go
Due: manifests, generate

fix(webhook): enforce https-only monitor URLs for HTTPS and Keyword
  api/v1alpha1/monitor_webhook.go
  api/v1alpha1/monitor_webhook_test.go
  config/manager/kustomization.yaml
Due: manifests, generate

refactor(test): reuse shared webhook scheme helper in slack tests
  api/v1alpha1/slackintegration_webhook_test.go
Due: manifests, generate

feat(webhook): add validating webhooks for Monitor, MaintenanceWindow, MonitorGroup, SlackIntegration (#106)
  api/v1alpha1/maintenancewindow_webhook.go
  api/v1alpha1/maintenancewindow_webhook_test.go
  api/v1alpha1/monitor_webhook.go
  api/v1alpha1/monitor_webhook_test.go
  api/v1alpha1/monitorgroup_webhook.go
  api/v1alpha1/monitorgroup_webhook_test.go
  api/v1alpha1/slackintegration_webhook.go
  api/v1alpha1/slackintegration_webhook_test.go
  api/v1alpha1/webhook_common.go
  api/v1alpha1/webhook_common_test.go
  cmd/main.go
  config/manager/kustomization.yaml
  config/webhook/manifests.yaml
  internal/uptimerobot/client_api_assertions_test.go
  internal/uptimerobot/retry_test.go
  test/e2e/webhook_accountref_test.go
Due: manifests, generate

docs(api): add API versioning and deprecation policy
  README.md
  docs/api-reference.md
  docs/api-versioning.md
Due: none

Notes added by 'git notes add'
  84fe6c2a4d21c66bae695c1ea37673a46cc81714
Due: none

docs(api): add API versioning and deprecation policy (#129)
  README.md
  docs/api-reference.md
  docs/api-versioning.md
Due: none

fix(monitor-controller): report new id on monitor recreation
  internal/controller/monitor_controller.go
Due: manifests, generate

feat(helm-chart): support image digest pinning in helper
  charts/uptime-robot-operator/templates/_helpers.tpl
  charts/uptime-robot-operator/values.yaml
Due: helm-lint, helm-template

feat(helm-chart): add priorityClassName support for operator pod
  charts/uptime-robot-operator/templates/deployment.yaml
  charts/uptime-robot-operator/values.yaml
Due: helm-lint, helm-template

feat(helm-chart): add topology spread constraints support
  charts/uptime-robot-operator/templates/deployment.yaml
  charts/uptime-robot-operator/values.yaml
Due: helm-lint, helm-template

feat(helm-chart): add helm test hook for install validation
  charts/uptime-robot-operator/templates/tests/test-connection.yaml
Due: helm-lint, helm-template

fix(helm-chart): grant test hook required read RBAC
  charts/uptime-robot-operator/templates/clusterrole.yaml
  charts/uptime-robot-operator/templates/tests/test-connection.yaml
Due: helm-lint, helm-template

test(monitor-controller): cover recreated id and event emission
  AGENTS.md
  config/manager/kustomization.yaml
  internal/controller/monitor_controller_test.go
  internal/uptimerobot/uptimerobottest/server.go
Due: manifests, generate

fix(monitor-controller): report new id on monitor recreation (#131)
  AGENTS.md
  config/manager/kustomization.yaml
  internal/controller/monitor_controller.go
  internal/controller/monitor_controller_test.go
  internal/uptimerobot/uptimerobottest/server.go
Due: manifests, generate

Notes added by 'git notes add'
  0800cd40c4941951708dcf8277633cea6614c75d
Due: none

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

docs: add missing CODE_OF_CONDUCT.md (#130)
  CODE_OF_CONDUCT.md
Due: none

chore(helm): add tests, image digest, pcn and toplogy (#132)
  charts/uptime-robot-operator/templates/_helpers.tpl
  charts/uptime-robot-operator/templates/clusterrole.yaml
  charts/uptime-robot-operator/templates/deployment.yaml
  charts/uptime-robot-operator/templates/tests/test-connection.yaml
  charts/uptime-robot-operator/values.yaml
Due: helm-lint, helm-template

fix(helm): least-privilege RBAC, correct CRD scope checks, and configurable kubectl image in test hook (#133)
  charts/uptime-robot-operator/templates/clusterrole.yaml
  charts/uptime-robot-operator/templates/tests/test-connection-rbac.yaml
  charts/uptime-robot-operator/templates/tests/test-connection.yaml
  charts/uptime-robot-operator/values.yaml
Due: helm-lint, helm-template

Default to production-mode structured JSON logging (#135)
  cmd/main.go
  docs/development.md
Due: manifests, generate

Add Dependabot configuration for automated dependency updates (#134)
  .github/dependabot.yml
Due: none

Update .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Due: none

fix: improve rate limiter robustness, error reporting, and test reliability
  docs/architecture.md
  internal/uptimerobot/client.go
  internal/uptimerobot/ratelimit_test.go
  internal/uptimerobot/retry.go
Due: manifests, generate

fix(e2e): match JSON-formatted controller-runtime log output in metrics test
  test/e2e/e2e_test.go
Due: manifests, generate

refactor: parse env vars once via sync.Once, use full hash, add Load fast path
  internal/uptimerobot/client.go
  internal/uptimerobot/ratelimit_test.go
Due: manifests, generate

fix: read UPTIME_ROBOT_API on every NewClient call instead of caching
  internal/uptimerobot/client.go
Due: manifests, generate

fix(e2e): reset e2eInfraReady after Manager AfterAll tears down infrastructure
  test/e2e/e2e_test.go
Due: manifests, generate

Add CodeQL SAST workflow for Go source analysis (#136)
  .github/workflows/codeql.yml
Due: none
